# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

/cover.out
/coverage.out
/coverage-all.out
vendor/

catalog/cmd/catalogd/catalogd
shipping/cmd/shippingd/shippingd
warehouse/cmd/warehoused/warehoused
api/cmd/apid/apid

.DS_Store

#IDE files
*.iml
.idea/
